.contact{
    font-size: 24px;
    margin-top: 5%;
    height: 100vh;
}

.contact-links{
}

.contact-icons{
    margin: 10px;
    transition: opacity 0.3s ease;
}

.contact-icons:hover {
    opacity: 0.7;
}