.project-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-side-nav{
    width: 20vw;
}

.project-display{
    width: 80vw;
}

.project-side-button {
    margin: 2%;
    width: 96%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    background-color: #F9EEE2;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.project-side-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
